<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<title>Astropoint</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Neuton:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<main>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <img loading="lazy" decoding="async" src="https://static.vecteezy.com/system/resources/previews/021/844/396/non_2x/error-404-page-not-found-funny-little-man-chibi-sits-thoughtfully-next-to-a-broken-wire-illustration-for-design-design-vector.jpg" alt="404" class="img-fluid mb-4" width="500" height="350">
          <h1 class="mb-4">Pagina nao encontrada. Verifique o teu link</h1>
          <a href="/" class="btn btn-outline-primary">Ir para a pagina inicial</a>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>